.bi{
    font-size: 3rem;
    color: green;
}
.bi:hover{
    color:blue;
    background-color: rgba(237, 98, 216, 0.853);
}


.badges{
    position: relative;
    border: 2px solid red;
    padding: 1.25rem;
}

.b-value{
    color: red;
    font-size: .67rem;
    background-color: yellow;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    left: 60px;
    top: 10px;
}
.b-value:hover{
    background-color: aqua;
}

.value-1{
    left:110px
}
.bi-gear{
    color:red;
    margin-left: 10px;
}