

/* parent styles */
.layout{
   display: grid;
   grid-template-columns: 150px auto;
   grid-template-rows: 150px 300px 150px;
   gap: 5px;
   grid-template-areas:
   "n n"
   "a m"
   "f f"
   ;
}


/* common styles */
.child{
    background-color: gold;
    padding: 2rem;
    border: 2px solid red ;
    text-align: center;
}

/* seprate style for each child */
.navbar{
    grid-area: n;
    background-color: aqua;
}
.aside{
    grid-area: a;
    background-color: orangered;
}
.main{
    grid-area: m;
    background-color: aquamarine;
}
.footer{
    grid-area: f;
     background-color: aqua;
}
